* {
    margin: 0 auto;
    color: #918683;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #F3F3F3;
}

div {
    display: block;
}

.top{
    position: relative;
    display: flex;
    display: -webkit-flex;
    width:100%;
    height:40px;
    font-size: 16px;
    font-family: Arial,sans-serif;
    color:#5f6477;
    vertical-align:middle;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
}

.top p{
    -webkit-flex:6;
    flex:6;
    text-align: center;
    line-height: 40px;
}

.top span{
    -webkit-flex:2;
    flex:2;
    display: block;
}

.roadPlan{
    height:40px;
}

#roadLink{
    display: block;
    border: 1px solid rgb(90, 84, 84);
    width: 50%;
    text-align: center;
    line-height: 26px;
    height: 26px;
    margin: 7px auto 7px;
    border-radius: 8px;
    font-size: 12px;
    color: #2c9efe;
}

.walker{
    -webkit-flex:1.5;
    flex:1.5;
}

.walker img{
    display: block;
    width: 35%;
    height:20px;
    margin: 0 auto;
    margin-top: 10px;
}

#content {
    position: relative;
    display: flex;
    display: -webkit-flex;
 }

#left{
    -webkit-flex: 1.5;
    flex: 1.5;
    height:80px;
}

.leftspan{
    display: block;
    font-size: 13px !important;
    color: #9b9faf !important;
    height: 40px !important;
    border: none !important;
    line-height:50px;
    padding-top: 4px;
    text-align:center;
}

#middle{
    -webkit-flex: 6;
    flex: 6;
}


.line-search-p{
    position: relative;
    top:8px;
    height: 40px;
    line-height: 34px;
    width: 270px;
    font-size: 14px;
    color: #acd7ff;
    border-radius: 2px;
}

.route-input-icon{
    position:absolute;
    display: block;
    width:11px;
    height:10px;
    top:14px;
    bottom:15px;
    left:0;
}

.route-start{
    background: url('../images/left_start.png') no-repeat 0 0;
}

.route-end{
    background: url('../images/left_end.png') no-repeat 0 0;
}

.line-search-p input{
    position: absolute;
    left:12px;
    width: 68%;
    height: 40px;
    line-height: 40px;
    border: none;
    background: transparent;
    text-indent: 5px;
    color: #acd7ff;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: 0;
}

.positionIcon{
    position: absolute;
    display: block;
    top:0;
    right:0;
    width: 22%;
    height: 40px;
    line-height: 40px;
}

.line-search-p div img{
    position:absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:50%;
    height:50%;
    margin: auto;
}

#endPara{
    position: absolute;
}

#right{
    position: relative;
    -webkit-flex: 2;
    flex: 2;
}

#transfer{
    position: absolute;
    display: block;
    height: 34px;
    width: 34px;
    padding: 5px 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#mapContent{
    position: relative;
}

 /*
.header {
    display: flex;
    border-bottom: 1px solid #cec4c4;
    padding: 5px 2px;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
}
.header div {
    text-align: center;
    font-size: 18px;
}
.form {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 10px 0 0;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.btn-blue {
    background: #00afec !important;
    color: #fff;
    padding: 3px 12px !important;
}
.btn {
    padding: .4rem .8rem;
    margin-right: 1rem;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 1rem;
    text-shadow: none;
    background: #efefef;
}
.form input,
.form a {
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 16px;
    padding: 16px;
    border-radius: 0;
    border: 0;
}
input {
    -webkit-appearance: none;
}
.form input:first-child,
.ui-route-plan .form a:first-child {
    border-bottom: 1px solid #cec4c4;
}
.form input {
    padding-left: 6px;
}
.form a {
    color: #00a2ff;
    text-align: right;
}
.form a:first-child {
    border-bottom: 1px solid #cec4c4;
}
.fa-angle-left:before {
    content: "\f104";
}
#errInfo {
    background: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
    padding: 20px 30px;
    color: #ffa500;
}
input {
    -webkit-appearance: none;
    border-radius: 3px;
} */